@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline;letter-spacing: 0px;}
body{margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; line-height: 105%;}

/*HTML5-==========================================================================*/
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block;}

audio,canvas,progress,video{display:inline-block;}

audio:not([controls]){display:none;height:0;}

progress{vertical-align:baseline;}

template,[hidden]{display:none;}

/*Text-levelsemantics==========================================================================*/
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted;}

b,strong{font-weight:inherit;}

b,strong{font-weight:bolder;}

dfn{font-style:italic;}

/* h1{font-size:2em;margin:0.67em 0;} */

mark{background-color:#ff0;color:#303030;}

small{font-size:80%;}

sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}

sub{bottom:-0.25em;}

sup{top:-0.5em;}

/*Links==========================================================================*/
a{background-color:transparent;}

a:active,a:hover{outline-width:0;}

/*Groupingcontent==========================================================================*/
/*code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em;}*/

figure{margin:1em 40px;}

hr{box-sizing:content-box;height:0;overflow:visible;}


/*Embeddedcontent==========================================================================*/
img{border-style:none;}

svg:not(:root){overflow:hidden;}

/*Forms==========================================================================*/
button,input,select,textarea{font:inherit;}

optgroup{font-weight:bold;}

button,input,select{overflow:visible;}

button,input,select,textarea{margin:0;}

button,select{text-transform:none;}

button,[type="button"],[type="reset"],[type="submit"]{cursor:pointer;}

[disabled]{cursor:default;}

button,html[type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button;}

button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

button:-moz-focusring,input:-moz-focusring{outline:1px dottedButtonText;}

fieldset{border:1px solid#c0c0c0;margin:02px;padding:0.35em 0.625em 0.75em;}

legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal;}

textarea{overflow:auto;}

[type="checkbox"],[type="radio"]{box-sizing:border-box;padding:0;}

[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto;}

[type="search"]{-webkit-appearance:textfield;}

[type="search"]::-webkit-search-cancel-button,[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}


html,body{min-width:320px;width: 100%;height: 100%;}

button{outline:0;background:none;border:0;cursor:pointer;}

img{border:0;vertical-align:top;max-width:100%;max-height:100%;}

ul,ol{list-style:none;}

table{border-spacing:0;}

caption{height:0;overflow:hidden;font-size:0;}

b,em,strong{font-weight:bold;font-style:normal;}

a{color:inherit;text-decoration:none;}

a:hover{color:inherit;}

ol, ul {    list-style: none;    margin:0px; padding:0px;}

nav{display:none;}

html, body{font-family: 'Noto Sans KR', sans-serif; font-size: 14px; font-weight: 400; line-height: 105%; letter-spacing: -0.5px; color: #303030;width: auto;}
#__next{position:relative; width: auto; height: 100%;}
a { cursor: pointer;}

input{outline: none; box-shadow: none;}

* {
    box-sizing: border-box;
}

button{padding:0px; margin:0px;}