@import '../_color.scss';
@import '../_common.scss';

$layer-padding: 20px;

.indexPage {
    width: 100%;
    height: 100%;
    background-color: $beige;
    .layer {
        max-width: 800px;
        position: relative;
        width: 100%;
        height: 100%;
        padding: 20px;
        margin: 0 auto;
        background-color: $beige;
        overflow: hidden;
        animation: shadow .5s linear forwards;

        .part__title {
            position: absolute;
            width: calc(100% - 40px);
            height: calc(100% - 40px);
            top: $layer-padding;
            left: $layer-padding;
            right: $layer-padding;
            bottom: $layer-padding;
            background-repeat: no-repeat;
            background-image: linear-gradient(
                    to right,
                    $black 100%,
                    $black 100%
                ),
                linear-gradient(to bottom, $black 100%, $black 100%),
                linear-gradient(to right, $black 100%, $black 100%),
                linear-gradient(to bottom, $black 100%, $black 100%);
            background-size: 0% 2px, 0px 0%, 0% 2px, 2px 0%;
            background-position: 100% 0, 0% 100%, 0% 100%, 0 0;
            animation: line 3s 2.5s cubic-bezier(0, 0, 0, 0) forwards;

            h1 {
                position: absolute;
                right: 0;
                top: -10px;
                opacity: 0;
                width: 140px;
                padding: 0px 0px 0px 10px;
                background-color: $beige;
                animation: text 1.5s 1s linear forwards;

                &::before {
                    @include pseudo;
                    bottom: 0;
                    width: 80%;
                    height: 2px;
                    background-color: $black;
                }
            }

            .item__date {
                position: absolute;
                left: -65px;
                top: 40%;
                transform: rotate(270deg);
                width: 140px;
                padding: 0px 0px 0px 7px;
                background-color: $beige;
                animation: date 4s linear forwards;
            }

            .item__part {
                position: absolute;
                left: -170px;
                bottom: 20%;
                width: 350px;
                transform: rotate(270deg);
                padding: 0px 5px 0px 7px;
                background-color: $beige;
                animation: date 4.5s linear forwards;
            }

            .item__name {
                position: absolute;
                bottom: 0;
                opacity: 0;
                right: 10px;
                width: 100px;
                animation: name 1.5s 1s linear forwards;
            }
        }
    }
}

@keyframes line {
    0% {
        background-size: 0% 2px, 0px 0%, 0% 2px, 2px 0%;
    }
    33% {
        background-size: 100% 2px, 0px 0%, 0% 2px, 2px 0%;
    }
    66% {
        background-size: 100% 2px, 0px 0%, 0% 2px, 2px 100%;
    }
    99% {
        background-size: 100% 2px, 0px 0%, 100% 2px, 2px 100%;
    }
    100% {
        background-size: 100% 2px, 0px 0%, 100% 2px, 2px 100%;
    }
}

@keyframes text {
    0% {
        opacity: 0;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%) scale(1.5);
    }
    10% {
        opacity: 1;
    }
    70% {
        top: 50%;
        right: 50%;
        opacity: 1;
        transform: translate(50%, -50%) scale(1.5);
    }
    100% {
        right: 0;
        top: -10px;
        opacity: 1;
        transform: translate(0, 0) scale(1);
    }
}

@keyframes name {
    0% {
        opacity: 0;
        bottom: 35%;
        right: 50%;
        transform: translate(50%, 50%);
    }
    10% {
        opacity: 1;
    }
    70% {
        bottom: 35%;
        right: 50%;
        opacity: 1;
        transform: translate(50%, 50%);
    }
    100% {
        right: 0;
        bottom: 0px;
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes date {
    0% {
        opacity: 0;
        transform: rotate(270deg) translateY(-100%);
    }

    90% {
        opacity: 0;
        transform: rotate(270deg) translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: rotate(270deg) translateY(0%);
    }
}

@keyframes shadow {
    100% {
        box-shadow: 1px 0px 7px 0px grey;
    }
}
